html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  padding-left: calc(100vw - 100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #333;
  margin: 10px 0;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
}

/* NAVBAR */
nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  height: 40px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 10px;
  display: inline-block;
  background-color: #919191;
  padding: 14px 20px;
  text-align: center;
  border-radius: 5px;
}

nav a:hover {
  background-color: white;
  color: #4caf50;
}

.active {
  background-color: #4caf50;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav button {
  position: relative;
  left: 75%;
  background-color: #b5453f;
  color: white;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

nav button:hover {
  background-color: lightgrey;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #55b143;
}
